<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

C:\Users\ывап\Anaconda3\lib\site-packages\pandas\core\computation\__init__.py:18: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [47]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [4]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [10]:
print(df[df['gender'] == 1]['height'].mean())
print(df[df['gender'] == 2]['height'].mean())

161.35561168460356
169.94789538210054

In [ ]:
45530 женщин и 24470 мужчин

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [7]:
pd.crosstab(df['gender'], df['alco'], margins=True)

alco        0     1    All
gender
1       44369  1161  45530
2       21867  2603  24470
All     66236  3764  70000

In [10]:
print(2603/21867,
1161/44369)

0.11903781954543376 0.02616691834388875

In [ ]:
мужчины

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [11]:
pd.crosstab(df['gender'], df['smoke'], margins=True)

smoke       0     1    All
gender
1       44717   813  45530
2       19114  5356  24470
All     63831  6169  70000

In [12]:
(5356/19114)/(813/44717)

15.412429417796321

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [21]:
df['age']

id
0        18393
1        20228
2        18857
3        17623
4        17474
8        21914
9        22113
12       22584
13       17668
14       19834
15       22530
16       18815
18       14791
21       19809
23       14532
24       16782
25       21296
27       16747
28       17482
29       21755
30       19778
31       21413
32       23046
33       23376
35       16608
36       14453
37       19559
38       18085
39       14574
40       21057
         ...
99958    22572
99959    20136
99960    17065
99961    22142
99962    18226
99963    21264
99964    21699
99965    16843
99967    18800
99969    22423
99971    17727
99972    17500
99973    18941
99974    19652
99975    17926
99977    18194
99978    18198
99979    18852
99981    21978
99985    21013
99986    15094
99988    20609
99990    18792
99991    19699
99992    21074
99993    19240
99995    22601
99996    19066
99998    22431
99999    20540
Name: age, Length: 70000, dtype: int64

In [16]:
df['age'].apply(lambda x: x/365).describe()

count    70000.000000
mean        53.339358
std          6.759594
min         29.583562
25%         48.394521
50%         53.980822
75%         58.430137
max         64.967123
Name: age, dtype: float64

In [23]:
(df[df['smoke'] == 1]['age'].median() - df[df['smoke'] == 0]['age'].median())/30

-19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [41]:
df['age_years'] = df['age'].apply(lambda x: round(x/365))

In [76]:
analysis = df[ (df['age_years'] >= 60) & (df['age_years'] <= 64) & (df['gender'] == 2) & (df['smoke'] == 1)]

In [77]:
f = analysis[(analysis['cholesterol'] == 1 ) & (analysis['ap_hi'] < 121)]['cardio']
s = analysis[(analysis['cholesterol'] == 3 ) & (analysis['ap_hi'] < 181) & (analysis['ap_hi'] > 160)]['cardio']

In [83]:
f.value_counts(normalize=True)

0    0.674576
1    0.325424
Name: cardio, dtype: float64

In [81]:
s.value_counts()

1    9
Name: cardio, dtype: int64

In [80]:
1/0.33

3.0303030303030303

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [86]:
df['BMI'] = df['weight']/df['height'].apply(lambda x: (x/100)**2)

In [93]:
df['BMI'].median() in range(18, 25)

False

In [90]:
df[df['gender'] ==1]['BMI'].mean() > df[df['gender'] == 2]['BMI'].mean()

True

In [91]:
df[df['cardio'] == 0]['BMI'].mean() > df[df['cardio'] == 1]['BMI'].mean()

False

In [97]:
df[(df['cardio'] == 0) & (df['gender'] == 2) & (df['alco'] == 0)]['BMI'].mean() < df[(df['cardio'] == 0) & (df['gender'] == 1) & (df['alco'] == 0)]['BMI'].mean()

True

26.845406594131518

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [163]:
new = df.drop(df[df['ap_hi'] < df['ap_lo']].index)

In [126]:
df['height'].quantile(0.025)

150.0

In [127]:
df['height'].quantile(0.975)

180.0

In [128]:
df['weight'].quantile(0.025)

51.0

In [129]:
df['weight'].quantile(0.975)

108.0

In [158]:
new = new.drop(new[(new['height'] < 150) | (new['height'] > 180)].index)

In [159]:
new = new.drop(new[(new['weight'] < 51) | (new['weight'] > 108)].index)

In [164]:
new.shape

(68766, 14)

In [161]:
df.shape

(70000, 14)

In [162]:
1 - (63259/70000)

0.09630000000000005